.zh-gl-3 img,.zh-gallery-dashboard .zh-gl-4 img{
    margin: 3% 0% 0% 2%;
    height: 90px;
}

.zh-gl-3 .img1{
    width: 430px;
    
}

.zh-gl-3 .img2{
    width: 150px;
}

.zh-gl-3 .img3{
    width: 240px;
}

.zh-gl-4 .img1{
    width: 260px;
}

.zh-gl-4 .img2{
    width: 140px;
}

.zh-gl-4 .img3{
    width: 140px;
}

.zh-gl-4 .img4{
    width: 260px;
}